<div class="row">
  <div class="col-md-6 student_section">
    <h3>My Students</h3>
      <%= render 'connections/students' %>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h3>My Teaching Requests</h3>
    </div>
    <% if @pending_requests.length >0 %>
      <% @pending_requests.each do |request| %>
        <div class="row" id="request-<%=request.id%>">
          <%= "You have a connection request from #{request.student.name}" %><br><br>
          <%= button_to "Approve!", connection_path(request), :controller => "connections", :action => "update", :method => "patch", :connections => {:approved => true}, class: "btn btn-success btn-xs col-sm-3", remote: true %>
          <%= button_to "Reject", connection_path(request), :controller => "connections", :action => "destroy", :method => "delete", class: "btn btn-danger btn-xs col-sm-3", remote: true %>
        </div>
      <% end %>
    <% else %>
    <p>
      You have no new requests.
    </p>
    <% end %>
  </div>
</div>
