<%= form_tag login_path %>
<div class="user_name">
  <%= label_tag :user_name %>
  <%= text_field_tag :user_name %>
</div>

<div class="password">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>

<%= submit_tag "Log In" %>
