<%= form_for user, url: {controller: 'users', action: 'becometeacher'}, method: :post, remote:true do |f|%>
  <%= f.collection_check_boxes(:skill_ids, Skill.all, :id, :name, { checked: user.skills.map(&:to_param) }  ) do |b| %>
      <div class="checkbox custom">
        <%= b.label do %>
        <%=b.check_box + b.text%>
        <% end %>
      </div>
    <% end %>
  <%= f.submit "Teach Things!", :class => 'btn btn-success' %>
<% end %>
