<h3>Messages</h3>
<div class="row">
  <div class="col-md-8">
    <div class="list-group">
      <% current_user.conversations.uniq.each do |conversation| %>
        <% if conversation.messages.length > 0%>
          <% if current_user.sender?(conversation)%>
            <%= link_to(conversation, type: "button", class: "list-group-item") do %>
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag("profilepic.jpg", :class => "img-circle", :size => "70") %>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <strong><%= conversation.recipient.name %> </strong>
                  </div>
                  <div class="row">
                    <p><%= conversation.messages.last.body.slice(0..49) %>...</p>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= link_to(conversation, type: "button", class: "list-group-item") do %>
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag("profilepic.jpg", :class => "img-circle", :size => "70") %>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <strong><%= conversation.sender.name %> </strong>
                  </div>
                  <div class="row">
                    <p><%= conversation.messages.last.body.slice(0..49) %>...</p>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>