<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<div class="row">
  <div class="col-lg-9 col-md-9">
    <%= form_for @user, :role => "form" do |f| %>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :user_name %>
          <%= f.text_field :user_name, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password,:class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :attachment %>
          <%= f.file_field :attachment %>
        </div>
        <div class="form-group">
          <%= f.label :bio %>
          <%= f.text_area :bio, :class => "form-control" %>
        </div>
      <%= f.submit :class => "btn btn-primary" %>
    <% end %>
  </div>

 <br> 
   <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => "btn btn-primary" %> 
   <br>
  <%= link_to 'Sign in with Twitter', '/auth/twitter', id: "sign_in", :class => "btn btn-primary" %>
  <br>
<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", :class => "btn btn-primary" %>
<br>
<%= link_to "Sign in with Linkedin", "/auth/linkedin", id: "sign_in", :class => "btn btn-primary" %>
</div>
