<div class="col-md-7">
  <h3> Bio:</h3>
  <% if @user.bio%>
    <p><%= @user.bio %></p>
  <% else %>
    <p><%= @user.name %> hasn't written a bio yet.</p>
  <% end %>

  <% if @user.teacher? %>
    <div class="availability_render">
      <%= render partial: 'users/availability/display_availability', locals:{availability:@user.display_availability} %>
    </div>
    <% if @user.id == current_user.id%>
      <%= render'users/availability/availability_modal'%>
    <% end %>
    <%= render partial: "users/calendar_modal" %>
  <% end %>
    <%if (@user.id != current_user.id) %>
      <%= render "connections" %>
    <%end%>
</div>
<div class="col-md-1"></div>
<div class="col-md-4">
  <% if @user.teacher? %>
    <%= render partial: "teacher_skills", locals: {teacher: @user} %>
  <%end%>
</div>





