<h1> <%= @user.user_name %> </h1>

<h2> Bio:</h2

<p>
  <% if @user.bio%>
    <%= @user.bio  %>
  <% else %>
     No Bio :(
  <% end %>
</p>

 <p class="photo"
   <td> <%= image_tag @user.attachment.url %> </td>
</p>



<% if @user.teacher? %>
  <%= render partial: "users/skills/teacher_skills", locals: {teacher: @user} %>

  <% if logged_in? && @user.id == current_user.id%>
    <%= render'users/availability/availability_modal'%>
  <% end %>
  <div class="availability_render">
    <%= render partial: 'users/availability/display_availability', locals:{availability:@user.display_availability} %>
  </div>

<%= render partial: "users/calendar_modal" %>

<%end%>

<%if (logged_in? && @user.id != current_user.id) %>
  <%= render "connections" %>
<%end%>
