<h1><%= "Hi there, #{current_user.name}"  %></h1>

<% if current_user.connections %>

  <h3>Your connections:</h3>

  <% if current_user.teachers.length > 0 %>
    <div class="list-group">
    <h4 class="list-group-item">Teachers:</h2>
    <% current_user.teachers.each do |teacher| %>
      <div class="list-group-item"><%= link_to "#{teacher.name}", teacher %> -
        <%= render :partial => 'messages/message_button', :locals => {:recipient => teacher} %>
      </li>
    <% end %>
    </div>
  <% end %>

  <% if current_user.students.length > 0 %>
    <div class="list-group">
    <h2 class="list-group-item">Students:</h2>
    <% current_user.students.each do |student| %>
      <div class="list-group-item"><%= link_to "#{student.name}", student %> -
        <%= render :partial => 'messages/message_button', :locals => {:recipient => student} %>
      </li>
    <% end %>
    </div>
  <% end %>

<% end %>

<%= render "inbox" %>

