<h1> <%= @user.user_name %> </h1>

<h2> Bio:</h2>
<p>
  <% if @user.bio%>
    <%= @user.bio  %>
  <% else %>
     No Bio :(
  <% end %>
</p>



<% if @user.teacher? %>
  <%= render partial: "teacher_skills", locals: {teacher: @user} %>
  <h3> <%= link_to "View My Calendar", {controller: "users", action: "calendar"}, class: "btn btn-primary" %></h3>
<%end%>

<% if logged_in? || @user.id != current_user.id %>

  <%= render "connections" %>
  <!-- eventually, be able to sign up for these classes and make a connection, scheduling will go here -->
<%end%>