<div class="row">
    <div class="col-lg-8 col-md-10">
      <div class="panel-group" id="accordion-skills">
        <% @skills.each do |skill| %>
        <div class="panel">
          <%= link_to ("#collapse#{skill.id}"), :class => "panel-heading", "data-toggle" => "collapse", "data-parent" => "#accordion-skills" do %>
            <%= skill.name %>
            <div class="indicator"><div class="icon"><span class="hr-line"></span><span class="vr-line"></span></div></div>
          <% end %>

          <div id="collapse<%= skill.id  %>" class="panel-collapse collapse">
            <div class="panel-body">
              <p><%= skill.description %></p>
              <h6>People with this skill:</h6>
              <ul>
                <% skill.teachers.each do |teacher| %>
                <li><%= link_to teacher.name, teacher %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>