<ul>
  <% if !logged_in? %>
    <%= render "layouts/default_navbar"  %>
  <% elsif logged_in? && current_user.teacher? %>
    <%= render "layouts/teacher_navbar" %>
  <% else %>
    <%= render "layouts/user_navbar" %>
  <% end %>
</ul>



<!-- <ul>

    <% if logged_in? %>
      <li>
        <%= link_to "Home", homepage_path  %>
      </li>
      <li> <%= link_to "Browse subjects", subjects_path %>  </li>
      <li>  <%= link_to "Log Out", logout_path %> </li>
      <li>  <%= "Welcome, #{current_user.user_name}" %> </li>
      <li> <%= link_to "Become a teacher", "/users/teacherize" %>  </li>
    <% else  %>


    <% end %>


</ul> -->