
<header class="stiky-header">
  <div class="container group">
    <a class="logo" href="/"><%= image_tag("logo.svg") %></a>
    <a class="logo-mobile" href="index.html"><%= image_tag("logo.svg") %></a>
    <nav class="main-navi">
      <ul>
        <% if logged_in? %>
          <%= render "layouts/dropdown" %>
        <% else %>
        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
        <% end %>
        <li><%= link_to "Browse subjects", subjects_path %></li>
        <li>
          <%= form_tag skillsearch_path, class: "form-inline" do%>
            <%= text_field_tag :query, nil, placeholder: "Search for Skills",class: "form-control input-sm" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>


    <!--Login Modal-->
  <div class="light-skin modal fade" id="loginModal" tabindex="-1" role="form" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Login here</h4>
        </div>
        <div class="modal-body">

          <%= render "sessions/form" %>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->