<!DOCTYPE html>
<html>
<head>
  <title>edifi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
</head>

<div id="wrapper">
  <div id="header">
    <%= render "layouts/navbar" %>
  </div>
  <body class="space-top">
  <div id="content">
    <div class="notice-error text-center">
      <% if flash[:notice] %>
          <%= flash[:notice] %>
      <% end %>
      <% if flash[:error] %>
          <%= flash[:error] %>
      <% end %>
    </div>
    <%= yield %>
  </div>
  </body>

  <%= render "home/footer" %>


</div>
</html>
